body {
	background-color: rgb(42, 28, 68);
}

.container {
	align-items: center;
	justify-content: center;
}

h1 {
	color: white;
	margin-bottom: 1em;
	text-align: center;
}

.logo {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 3em;
}

#book {
	width: 7em;
}

label {
	color: white;
	font-size: 1.2em;
}
.button {
	display: flex;
	justify-content: center;
}

.btn-primary {
	background-color: rgb(129, 86, 208);
	font-size: 1.2em;
	margin-bottom: 1em;
	margin-top: 1em;
	width: 40%;
}

#display-text {
	color: black;
	font-size: 1.2em;
	font-weight: 700;
}

.div-text {
	color: white;
	font-size: 1.2em;
	margin-bottom: 3em;
	margin-top: 1em;
	text-align: center;
}

footer {
	color: rgb(231, 231, 231);
	font-size: 0.8em;
	text-align: end;
}
